@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cabin */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap');
/* ----- */

/* Acme    */
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/* ------- */

* {
  font-family: 'Cabin', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 400;
  line-height: 1.75;
  color: '#F1F1F1';
}

.label-form input {
  font-family: 'Cabin', sans-serif;
}

.instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  border-radius: 10px;
}

.facebook {
  background: linear-gradient(to bottom, #3a5795 0%, #2b4886 100%);
  border-radius: 6px;
}